/* Sass Document */

html{
	width:100%;
	height:100%;
}

body { 
    color: #333;
    font-size: 13px;
	height:100%;
    font-family: 'Heiti SC', 'Microsoft YaHei', Arail sans-serif;
    background-color: #fff; }


$page-red:#cd2b3a;

body, ul, form, h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }
ul { list-style: none; }

a { color: #333; text-decoration: none; }
h1 { font-size: 21px; font-weight: 600;}
h2 { font-size: 18px; font-weight: 600;}
h3 { margin: 0; padding: 0; font-size: 16px; font-weight: 600; }
h3 small { font-size: 65%; font-weight: 300; color: rgba(255,255,255,.65); }

button, input, textarea {font-family: 'Heiti SC', 'Microsoft YaHei', Arail sans-serif;}

[type="radio"],[type="check"] {position: absolute; top: -9999px; left: 0;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{ -webkit-appearance: none !important; margin: 0; }
input[type="number"]{ -moz-appearance:textfield; }




/* ---------------------------
   response
   - - - - - - - - - - - - - */
/* PC and the Big screen of mobile */
@media screen and (min-device-width: 1280px) and (min-device-height: 800px),
       screen and (min-device-width: 768px) {

    body,
    .screen_widdth,
    .fixed,
    #footer {
        max-width: 640px;
        margin: 0 auto;
    }

    body { margin: 0 auto !important; }
}


#header
{
	height:40px;
	line-height:40px;
	vertical-align:central;
	text-align:center;
	background:$page-red;
	display:-webkit-box;
	.icon{
		display:inline-block;
		width:50px;
		height:100%;
		color:#fff;
		font-size:16px;
		line-height:inherit;
	}

	h1{
		-webkit-box-flex:1;
		-moz-box-flex:1;
		box-flex:1;
		color:#fff;
		font-size:18px;
		
	}
	
}

.type-btn{
	background:#cd2b3a;	
	border:0;
	color:#fff;
	width:180px;
	height:30px;
	line-height:30px;
	text-align:center;
	display:block;
	border-radius:8px;
	margin:10px auto;
}

/*login*/
.login-box{
	text-align:center;
	background:#f6f6f6;
	height:100%;
	.logo-box{
		width:200px;
		height:150px;
		text-align:center;
		top:0;
		left:0;
		margin:0 auto;
		padding-top:200px;
	}
	form{
		margin:0 auto;
		width:300px;
		height:200px;
	}
	input{
		display:block;
		width:300px;
		margin-bottom:10px;
		height:20px;
		border:1px solid #ececec;
	}
	
	.login-btn{
		background:#cd2b3a;	
		border:0;
		color:#fff;
		width:80px;
		height:30px;
		line-height:30px;
		text-align:center;
		display:block;
		border-radius:8px;
		margin:0 auto;
	}	
}



/*detail*/
.detail-box{
	text-align:center;
	background:#fff;
	height:100%;
	.pic-box{
		width:100%;
		background:#f6f6f6;
		height:150px;
		text-align:center;
		top:0;
		left:0;
		margin:0 auto;
		padding-top:50px;
		border-bottom:1px solid #ddd;
	}
	.list-box{
		margin:10px;
		text-align:left;
		.title{
			display:block;
			font-size:20px;
		}
		.detail{
			display:block;
			font-size:14px;
			color:#ddd;
		}
		.pd-box{
			border-bottom:1px #ddd solid;
			margin-top:20px;
			padding-left:10px;
			padding-bottom:10px;
			.pd-name{
				display:inline-block;
				width:80px;
				font-size:14px;
			}
			.pd-price{
				color:$page-red;
				font-size:14px;
			}
		}
		.pd-list{
			padding:10px;
			font-size:14px;
			ul,li{
				width:100%;
			}
			span{
				height:32px;
				line-height:32px;
				display:inline-block;
			}
			.name{
				vertical-align:middle;
				float:left;
				width:70px;
				color:#a3a3a3;
			}
			.content{
				color:#333;
			}
		}
		
	}
}

/* mod_amount
 */
.mod_amount {
    display: inline-block;
    height: 30px;
    border: solid 1px #ddd;
    font-size: 21px;
    border-radius: 5px; }
.mod_amount .icon { float: left; width: 30px; height: 30px; text-align: center; }
.mod_amount .icon:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: auto;
    content: "";
    background-image: url(../images/icons_32x32.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto; }
.mod_amount .icon.increase:before {background-position: 0 0;}
.mod_amount .icon.decrease:before {background-position: 0 -16px;opacity: .5;}
.mod_amount input { float: left; width: 50px; height: 100%; border: solid 1px #ddd; border-width: 0 1px; text-align: center; box-sizing: border-box; }


/*order*/
.order-box{
	display:-webkit-box;
	width:90%;
	padding:0 5%;
	.order-pic{
		margin-top:15px;
		width:50px;
		height:50px;
		img{
			border:1px solid #ddd;
			width:50px;
			height:50px;
			overflow:hidden;
		}
	}
	.order-content{
		padding:0 10px;
		text-align:left;
		-webkit-box-flex:1;
		-webkit-box-flex:1;
		-moz-box-flex:1;
		box-flex:1;
		font-size:14px;
		.content{
			padding:10px 0;
			color:#333;
		}
		.name{
			float:left;
			height:32px;
			line-height:32px;
			display:inline-block;
			width:50px;
			vertical-align:middle;
			color:#a3a3a3;
		}
	}
}


.price-box{
	text-align:left;
	width:90%;
	padding:0 5%;
	margin-top:10px;
	.amount{
		-webkit-box-flex:7;
		-moz-box-flex:7;
		box-flex:7;
		margin-left:55px;
	}
	.price{
		-webkit-box-flex:1;
		-moz-box-flex:1;
		box-flex:1;
		float:right;
		font-size:24px;
		color:$page-red;
	}
}

/*data*/
.data-box{
	padding:10px;
	.row{
		label{
			width:70px;
			display:inline-block;
		}
		margin:10px auto;
	}
	.sumbit-btn{
		background:#cd2b3a;	
		border:0;
		color:#fff;
		width:80px;
		height:30px;
		line-height:30px;
		text-align:center;
		display:block;
		border-radius:8px;
		margin:0 auto;
	}
}

.ps-box{
	margin:10px 0;
	padding:10px;
	border-top:1px solid #ececec;
	.ps-title{
		color:#333;
		font-size:14px;
		text-align:left;
	}
	.ps-address{
		margin:10px;
		padding:10px;
		.ad-title{
			font-size:16px;
		}
		.ad-detail{
			color:#A3A3A3;
		}
	}
	.ps-address-choice{
		margin:10px;
		padding:10px;
		border:1px dashed $page-red;
		.ad-title{
			font-size:16px;
		}
		.ad-detail{
			color:#a3a3a3;
		}
	}
}



/*footer*/
#footer{
	position:fixed;
	bottom:0;
	height:48px;
	width:100%;
	.menu-box{
		display:block;
		width:100%;
		border-top:3px solid $page-red;
		text-align:center;
		vertical-align:central;
		line-height:48px;
		height:48px;
		&:hover{
			height:48px;
			color:#fff;
			background:$page-red;
		}
	}
	
}